In [ ]:
import pandas as pd
import scipy.stats as stats
from scipy.stats import ttest_1samp

In [ ]:
data = pd.read_csv("/content/Cutlets.csv")

In [ ]:
data.describe()

          Unit A     Unit B
count  35.000000  35.000000
mean    7.019091   6.964297
std     0.288408   0.343401
min     6.437600   6.038000
25%     6.831500   6.753600
50%     6.943800   6.939900
75%     7.280550   7.195000
max     7.516900   7.545900

In [ ]:
statistic , p_value = stats.ttest_ind(data['Unit A'],data['Unit B'], alternative = 'two-sided')
print('p_value=',p_value)

p_value= 0.4722394724599501

Alpha value - 0.05
Since P value is > alpha, we fail to reject Null Hypothesis, that is there is no signiifcant deifference in between two units of cutlets.